* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

body,
html {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
}

.back {
  height: 100%;
  width: 100%;
}

.back img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.top {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.leading-page {
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  max-width: 1920px;
  position: relative;
}

.nav {
  pointer-events: all;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  height: 60px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.text-area {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text-left {
  min-width: 50%;

}

.text-left .text {
  height: 10vw;
  overflow: hidden;
  position: relative;
}
.text-left button {
  pointer-events: all;
  font-size: 3.5vw;
  font-family: "Kajiro";
  padding: 0.1vw 2.5vw;
  margin-top: 1.3vw;
}
.text-left .text h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "Kajiro";
  color: #fff;
  font-weight: 100;
  font-size: 11vw;
}

.text-left h1:nth-child(1){
   top: 0;
}

.text-right {
  width: 25%;
  color: #fff;
}

.text-right p {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

.text-right .imgdiv {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.text-right p:nth-child(3) {
  margin-bottom: 40px;
}
